#wrap {
  width: 100%;
}
#wrap .header {
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #e5e5e5;
}
#wrap .header .navBar {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  position: relative;
}
#wrap .header .navBar .homeLogo {
  float: left;
  height: 65px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 10px;
}
#wrap .header .navBar .headerList {
  margin-top: 10px;
  float: right;
  white-space: nowrap;
}
#wrap .header .navBar .headerList .position {
  width: 151px;
  height: 41px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 15px;
  margin-right: 50px;
}
#wrap .header .navBar .headerList .position .logo {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url("../image/citypoint.png");
  background-size: cover;
  background-repeat: no-repeat;
  vertical-align: middle;
}
#wrap .header .navBar .headerList .position .city {
  display: inline-block;
  font-weight: bold;
}
#wrap .header .navBar .headerList .position .changeCity {
  font-weight: bold;
}
#wrap .header .navBar .headerList > li {
  display: inline-block;
}
#wrap .header .navBar .headerList > li.active a {
  color: #e94840;
}
#wrap .header .navBar .headerList > li a {
  display: inline-block;
  padding: 10px 15px;
  color: #000;
}
#wrap .header .navBar .headerList > li a:hover {
  color: #e94840;
  -webkit-transition: color 1s;
  transition: color 1s;
}
#wrap .header .navBar .headerList > li a.login {
  width: 64px;
  height: 20px;
  padding: 4px 6px;
  margin: 5px 0 0 15px;
  background: #e94840;
  color: #fff;
  border-radius: 5px;
}
#wrap .header.on {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  opacity: 0.8;
  -webkit-animation: ani 2s;
          animation: ani 2s;
}
@-webkit-keyframes ani {
  from {
    -webkit-transform: translateY(-70px);
            transform: translateY(-70px);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes ani {
  from {
    -webkit-transform: translateY(-70px);
            transform: translateY(-70px);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
#wrap .h2 {
  width: 1200px;
  margin: 0 auto;
  line-height: 85px;
  font-size: 18px;
}
#wrap .centerConter {
  width: 1200px;
  margin: 0 auto;
}
#wrap .centerConter .leftWrap {
  width: 970px;
  float: left;
}
#wrap .centerConter .leftWrap .ulWrap {
  overflow: hidden;
}
#wrap .centerConter .leftWrap .ulWrap > li {
  width: 232px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #eaeaea;
  padding: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  background: #fff;
  float: left;
}
#wrap .centerConter .leftWrap .ulWrap > li:hover {
  -webkit-box-shadow: 5px 5px 15px #ccc;
          box-shadow: 5px 5px 15px #ccc;
}
#wrap .centerConter .leftWrap .ulWrap > li .img {
  width: 210px;
  height: 210px;
}
#wrap .centerConter .leftWrap .ulWrap > li .dj .icon {
  width: 18px;
  display: inline-block;
  height: 17px;
  vertical-align: middle;
}
#wrap .centerConter .leftWrap .ulWrap > li .dj .icon img {
  width: 100%;
  height: 100%;
}
#wrap .centerConter .leftWrap .ulWrap > li .dj .title {
  font-size: 16px;
  font-weight: 700;
  margin-right: 1px;
  color: #121212;
}
#wrap .centerConter .leftWrap .ulWrap > li .bottom {
  font-size: 12px;
  color: #929292;
  line-height: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#wrap .centerConter .rightWrap {
  width: 230px ;
  float: right;
}
#wrap .getServiceList {
  width: 100%;
  height: 152px;
  margin: 0 auto;
  text-align: center;
}
#wrap .getServiceList span {
  width: 200px;
  height: 50px;
  line-height: 50px;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  margin: 50px 5px;
  background: #fff;
  display: inline-block;
  font-size: 16px;
  color: #b1b1b1;
  cursor: pointer;
}
#wrap .getServiceList span img {
  width: 12px;
  height: 7px;
}
#wrap .servi {
  width: 100%;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#wrap .servi .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#wrap .servi .list .item {
  margin: 0 20px;
}
#wrap .servi .list .item .icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-right: 10px;
}
#wrap .servi .list .item .icon img {
  width: 100%;
  height: 100%;
}
#wrap .servi .list .item span {
  font-size: 18px;
  display: inline-block;
}
#wrap .fooer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 170px;
  width: 100%;
  padding-top: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#wrap .fooer .hotcity {
  font-size: 18px;
  display: inline-block;
  font-family: "微软雅黑";
}
#wrap .fooer .hotList {
  width: 1090px;
  line-height: 30px;
  margin-left: 30px;
}
#wrap .fooer .hotList > li {
  display: inline-block;
  width: 9%;
}
#wrap .fooer .hotList > li a {
  color: #898989;
}
